.authPage p {
  text-align: center;
  font-size: clamp(1rem, 2.5vw, 1.5rem);
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container input {
  font-size: clamp(1.2rem, 3vw, 2rem);
  width: clamp(200px, 50vw, 600px);
  grid-column: 1 / span 2;
}

.form-container button {
  grid-column: 1 / span 2;
  margin: clamp(1rem, 2vw, 2rem) auto 0 auto;
}
