@use '../../../styles/scss/abstracts' as *;

.overviewRow {
  display: flex;
  flex-wrap: wrap;
  margin-top: $space-4;
  margin-bottom: $space-4;
}

.photoColumn {
  flex: 0 0 100%;
  max-width: 100%;
  padding: $space-3;

  @include breakpoint(md) {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.photoWrapper {
  margin-bottom: $space-4;
}

.infoColumn {
  flex: 0 0 100%;
  max-width: 100%;
  padding: $space-3;

  @include breakpoint(md) {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.infoInner {
  width: 100%;
}
