.experience {
    margin: 0.25rem 0.25rem 0.25rem 0;
    display: inline-block;
    width: fit-content;
}
.experienceCard {
    width: 20rem;
    min-height: 7.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.experienceCard span {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: ghostwhite;
    background-color: rgba(0, 0, 0, 0.6);
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0.25vmin;
    font-size: 1.5rem;
}

.experienceCard button {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 0.5rem;
    align-self: flex-start;
}

.experienceCard a {
    text-decoration: none;
}