.destination {
    margin: 1rem 1rem 1rem 0;
    display: inline-block;
    width: fit-content;
}

.destinationCard {
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12rem;
    height: 8rem;
}

.destinationCard span {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-text-stroke-color: grey;
    -webkit-text-stroke-width: 0.25px;
    padding: 2px;
    text-align: center;
}

.destination a {
    text-decoration: none;
}