body {
  margin: 0;
  background-color: white;
  height: 100vh;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, sans-serif;
}

.App {
  padding: 0 15px;
}

@media (max-width: 768px) {
  .App.container {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

h1 {
  text-align: center;
  margin: 2rem 0;
    font-size: clamp(2rem, 6vw, 4rem);
}

form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: clamp(0.5rem, 1.25vw, 1.5rem);
  color: var(--text-light);
}

label {
  font-size: clamp(1.2rem, 3vw, 2rem);
  display: flex;
  align-items: center;
}

.card {
  display: inline-block;
  margin: 1rem;
  width: 18rem;
}

.note-actions {
  margin : 1rem auto;
}

.note-actions > a {
  margin-right : 1rem;
}

.list-group {
  text-align: left;
}


.note-item .badge {
  margin-right: clamp(0.5rem, 1vw, 1.2rem);
}

.noteForm form {
  display: block;
  max-width: 350px;
  margin: clamp(1rem, 2vw, 2rem) 0;
}

.noteForm * {
  margin: clamp(0.5rem, 1vw, 1rem) 0;
  text-align: left;
}

.note-item p {
  font-size: clamp(1rem, 2.5vw, 1.5rem);
}
