h1.experienceHeading {
    text-align: left;
}

.experience-detail li {
    margin: 0;
}

.experience-detail a {
    text-decoration: none;
}

.experience-detail button {
    height: fit-content;
    margin: 0 0.25rem;
    font-size: 2rem;
    font-weight: bold;
    padding: 0.25rem 1rem;
}

.action-btn {
    padding: 0 0.5rem;
    margin: 0 0.5rem 0 0;
}

.green {
    color: green;
}

.grey {
    color: grey;
}

.h5 a {
    color: black;
}